.news-article-img{
    height: 200px;
    width: 420px;
     object-fit: cover;  
   
}

.news-article-card{
    margin-bottom: 20px;
    width: 4200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
}

.article-title{
    font-size: 22px;
}
.article-info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}