.news-article-img{
    height: 200px;
    width: 420px;
     object-fit: cover; 
     display: block; 
     margin: 0 auto;
   
}

.news-article-card{
    margin-bottom: 50px;
    width: 420px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px;
}

.article-title{
    font-size: 20px;
}
.article-info{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.btn-read-more{
   text-decoration: none;
   background-color: rgb(3, 3, 51);
   color: white;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
    
}